body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.kmw-90 {
  min-width: 90vw;
}

.top-btn button {
  background-color: #fff;
  border: none;
  color: black;
}

.link {
  display: inline-block;
  color: #438ffe;
  border: none;
  border-bottom: 1px solid currentColor;
}

.btn-primary {
  background-color: #ff8057!important;
  border: none !important;
}